{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyO4/w7MJyCf7zGhEhE33dSY"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"kamspNKlTfN7"},"outputs":[],"source":["\n","streamlit\n","pandas\n","numpy\n","openpyxl\n","pyngrok\n","torch"]}]}